/*Direct Descendent >*/
html,
body {
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  border: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #212c3d;
}

header > h1 {
  color: white;
  text-align: center;
  margin-top: 10vh;
}


.row{
 
  justify-content: center;
}

.App > h1 {
  color:white;
  
  height: 100px;
}